html {
    scroll-behavior: smooth;
  }

  .MenuList {
    display: flex;
    justify-content: center; /* Center aligns items horizontally */
  }

  .MenuList button{
    position: relative; /* Position relative for pseudo-elements */
    background-color: #E04B34;
    border: 1px solid #944D43;
    width:30%;
    color: black;
    padding: 14px 4px;
    cursor: pointer;
    margin: 0 10px; /* Add some margin between buttons */
    font-size:20px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-weight:bold
  }

  /* Style for the spaces between buttons */
  .MenuList button::before {
    content: "";
    position: absolute;
    width: 28%; /* Adjust the width as needed */
    height: 100%;
    background-color: white; /* Change to the desired color */
    left: -28%; /* Adjust the spacing */
    top: 0;
    z-index: -1; /* Place behind the buttons */
  }

  .MenuList button:after {
    content: "";
    clear: both;
    display: table;
  }
  .MenuList button:not(:last-child) {
    border-right: none;
  }
  .MenuList button:hover {
    background-color: #C26557;
  }

  .container {
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: #f1e4e0;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.8;
    font-size:60px
  }

  .top-container {
    background-color: white;
    text-align: center;
  }
  .header {
    background: white;
    color: #f1e4e0;
  }

  .content {
    font-family: sans-serif; 
    line-height: 2;
  }

  .white-background {
    background-color: white; 
    padding-left: 17%; 
    padding-right: 17%;
  }

  .quote {
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: dimgray;
  }

  .centredCircle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  .centredFlattenCurve {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }
  .SelfGraphic {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .masksGirl {
    width: 150%;
    margin-left: auto;
    margin-right: auto;
  }

  .scienceDeniers {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .headerImage {
    width: 100%;
  }

  .grey-background {
    background-color: #f1e4e0; 
    padding-left: 17%; 
    padding-right: 17%;
  }

  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
   */
  h2 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  h5 {
    font-size: x-large;
    text-align: center;
  }

 footer {
   background-color: #f1e4e0;
   padding-left: 15%; 
   padding-right: 15%;
   font-size: small;
   text-align: center;
   list-style-type: none;
   margin: 0;
   display: block;
 }