.features24-container10 {
  height: 1818px;
  padding-bottom: 115px;
}
.features24-container11 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  background: #D9E8F7;
  grid-template-columns: 1fr 1fr;
}
.features24-image-container1 {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.features24-image1 {
  width: 200px;
  object-fit: cover;
}
.features24-tabs-menu1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.features24-tab-horizontal10 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container10 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container12 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features24-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features24-text11 {
  color: #2929ff;
}
.features24-tab-horizontal11 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container11 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container13 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features24-tab-horizontal12 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container12 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container14 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features24-container15 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.features24-tabs-menu2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.features24-tab-horizontal13 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features24-tab-horizontal14 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container13 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container16 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features24-tab-horizontal15 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container14 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container17 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features24-image-container2 {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.features24-image2 {
  width: 480px;
  height: 335px;
  object-fit: cover;
}
.features24-container18 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  background: #D9E8F7;
  grid-template-columns: 1fr 1fr;
}
.features24-image-container3 {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.features24-image3 {
  width: 232px;
  height: 431px;
  object-fit: cover;
}
.features24-tabs-menu3 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.features24-tab-horizontal16 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container15 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container19 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features24-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features24-link3 {
  color: #2929ff;
  text-decoration: underline;
}
.features24-tab-horizontal17 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container16 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container20 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features24-tab-horizontal18 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container17 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container21 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features24-container22 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.features24-tabs-menu4 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.features24-tab-horizontal19 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-content4 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features24-tab-horizontal20 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container18 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container23 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features24-tab-horizontal21 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container19 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container24 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features24-image-container4 {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.features24-image4 {
  width: 477px;
  height: 299px;
  object-fit: cover;
}
.features24-fragment10 {
  display: contents;
}
.features24-text12 {
  display: inline-block;
}
.features24-fragment11 {
  display: contents;
}
.features24-text13 {
  display: inline-block;
}
.features24-fragment12 {
  display: contents;
}
.features24-text14 {
  display: inline-block;
  font-size: 70px;
}
.features24-fragment13 {
  display: contents;
}
.features24-text18 {
  display: inline-block;
}
.features24-fragment14 {
  display: contents;
}
.features24-text19 {
  display: inline-block;
}
.features24-fragment15 {
  display: contents;
}
.features24-text24 {
  display: inline-block;
}
.features24-fragment16 {
  display: contents;
}
.features24-text25 {
  display: inline-block;
}
.features24-fragment17 {
  display: contents;
}
.features24-text29 {
  display: inline-block;
}
.features24-fragment18 {
  display: contents;
}
.features24-text30 {
  display: inline-block;
}
.features24-fragment19 {
  display: contents;
}
.features24-text31 {
  display: inline-block;
}
.features24-fragment20 {
  display: contents;
}
.features24-text32 {
  display: inline-block;
}
@media(max-width: 991px) {
  .features24-container10 {
    height: 2885px;
  }
  .features24-container11 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .features24-container15 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .features24-container18 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .features24-container22 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
}
@media(max-width: 767px) {
  .features24-container10 {
    width: 568px;
    height: 3103px;
  }
  .features24-image-container3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .features24-container10 {
    width: 479px;
    height: 3131px;
  }
  .features24-image2 {
    width: 430px;
    margin-right: 0px;
  }
  .features24-image4 {
    width: 426px;
  }
}
